services:
  api:
    build: ./api
    restart: always
    env_file:
      - ./.env
    ports:
      - 7000:7000
    depends_on:
      - web
  geoserver:
    build: ./geoserver
    restart: always
    volumes:
      - ./geoserver/data_dir:${GEOSERVER_DATA_DIR}
      - ./geoserver/backup:/backup
    env_file:
      - ./.env
    ports:
      - 8080:8080
    depends_on:
      - web      
  db:
    build: ./alibey_db
    restart: always
    volumes:      
      - postgres_data:/var/lib/postgresql/data
      - ./alibey_db/backup:/backup
    env_file:
      - ./.env
    environment:
      - POSTGRES_PASSWORD=${DJANGO_ADMIN_PASSWORD}
  web:
    build: .
    restart: always
    working_dir: /public_html    
    ports:
      - 49155:49155
    command: gunicorn -b 0.0.0.0:49155 -c /public_html/djangoref/gunicorn_conf.py djangoref.wsgi    
    environment:
      - DEBUG=0
    env_file:
      - ./.env
    volumes:      
      - ./static_content:/public_html/djangoref/static/
      - ./media_content:/public_html/uploads/
    depends_on:
      - db

volumes:
  postgres_data: