services:
  api:
    build: ./api    
    volumes:
      - ./api:/home/node/app:z
    env_file:
      - ./.env
    ports:
      - 7000:7000
    depends_on:
      - web
  geoserver:
    build: ./geoserver
    volumes:
      - ./geoserver/data_dir:${GEOSERVER_DATA_DIR}
      - ./geoserver/backup:/backup
    env_file:
      - ./.env
    ports:
      - 8080:8080
    depends_on:
      - web
    healthcheck:
      test: curl --fail -s http://localhost:8080/geoserver || exit 1
      interval: 1m30s
      timeout: 10s
      retries: 3
  nginx:
    build: ./nginx
    volumes:
      - static_volume:/public_html/djangoref/static/
    ports:
      - 1337:80
    depends_on:
      - web
  db:
    build: ./alibey_db
    volumes:
      - ./alibey_db/postgres-data:/var/lib/postgresql/data
      - ./alibey_db/backup:/backup
    env_file:
      - ./.env
    environment:
      - POSTGRES_PASSWORD=${DJANGO_ADMIN_PASSWORD}
  web:
    build: .
    working_dir: /public_html
    ports:
      - "8000:8000"
      - "5678:5678"
    # expose:
    #   - 49155
    # command: gunicorn -b 0.0.0.0:49155 -c /public_html/djangoref/gunicorn_conf.py djangoref.wsgi
    # command: bash -c "python3 manage.py runserver 0.0.0.0:8000"
    # command: ["sh", "-c", "python3 -m debugpy --listen 0.0.0.0:5678 manage.py runserver 0.0.0.0:8000"]
    command: python -m debugpy --listen 0.0.0.0:5678 --wait-for-client manage.py runserver 0.0.0.0:8000
    environment:
      - DEBUG=1
    env_file:
      - ./.env
    volumes:
      - static_volume:/public_html/djangoref/static/
      - ./mcnb-alibey:/public_html:z
    depends_on:
      - db

volumes:  
  static_volume: